.bubble {
  display: flex;

  &:has(.bubble__container--answer) {
    justify-content: flex-end;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    stroke: var(--dark-blue);
    fill: var(--dark-blue);
    align-self: flex-end;
  }

  &__container {
    border: 2px solid var(--light-blue);
    border-radius: 0.5rem;
    width: fit-content;
    box-shadow: 3px 3px 2px var(--light-gray);

    &--answer {
      border-color: var(--light-gray);

      .bubble__container--message {
        background-color: var(--light-gray);
      }
    }

    &--message {
      background-color: var(--light-blue);

      padding: 0.75rem;
    }

    &--option {
      padding: 0.75rem;
      border: 1px solid var(--light-blue);
    }
  }
}
