.page {
  min-height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    color: var(--plain-black);
    gap: 2rem;

    &__chat {
      border-radius: 0.25rem;
      background-color: var(--plain-white);
    }
  }
}

@media (max-width: 37.5rem) {
  .page {
    padding: 2rem;
    padding-bottom: 5rem;

    .main {
      align-items: center;
    }
  }
}
